{% extends "layout.html" %}
{% block content %}
	<div class="container c-auth">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				{% from "security/_macros.html" import render_field_with_errors, render_field %}
				<h1>Change password</h1>
				<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
				  {{ change_password_form.hidden_tag() }}
				  {{ form_field(change_password_form.password, with_label=True) }}
				  {{ form_field(change_password_form.new_password, with_label=True) }}
				  {{ form_field(change_password_form.new_password_confirm, with_label=True) }}
				  {{ form_field(change_password_form.submit) }}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
