{% extends "layout.html" %}
{% block content %}
	<div class="container c-auth">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				{% from "_m.html" import form_field %}
				<h1>Sign Up</h1>
				<form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
					{{ register_user_form.csrf_token() }}
					<input type=hidden value="{{ session['prev_url'] or '' }}" name="next" />
					{{ form_field(register_user_form.email, with_label=True) }}
					{{ form_field(register_user_form.username, with_label=True) }}
					{{ form_field(register_user_form.password, with_label=True) }}
					{% if register_user_form.password_confirm %}
						{{ form_field(register_user_form.password_confirm, with_label=True) }}
					{% endif %}
					{{ register_user_form.recaptcha }}
					{% if register_user_form.recaptcha.errors %}
						<span class="help-block" style="color: #FF0000;">{{ register_user_form.recaptcha.errors|join(', ') }}</span>
					{% endif %}
					<br/>
					{{ form_field(register_user_form.submit) }}
				</form>
				{% include "security/_menu.html" %}
			</div>
		</div>
	</div>
{% endblock %}