html, body {height: 100%;}

body {font-family: "Roboto", Helvetica, Arial, sans-serif;}

a {color: #00A4C8; text-decoration: none;}
a:hover, a:focus {color: #00b4dc; text-decoration: none;}

blockquote {font-size: inherit; color: #808080; margin: 10px 10px 10px 20px;}
blockquote .quote_author {font-style: italic; font-size: 12px; margin-bottom: 6px;}

h1 {margin-top: 0;}

.main-wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -50px;
}

footer {height: 50px; clear: both; background-color: #f0f0f0;}
footer .copyright {padding-top: 14px; font-size: 12px;}

@media (min-width: 992px) { .md-right {text-align: right;} }

/* change Bootstrap */
.btn-sm {border-radius: 0; padding: 5px 15px;}
.btn-sm:hover {background-color: #00B5DD; border-color: #00B5DD; color: #fff;}
.btn {border-radius: 0;}
.form-control {border-radius: 0;}

.c-clear {width: 100%; clear: both;}

.hidden {display: none !important;}

form .help-block {font-size: 12px;}

.breadcrumb {background-color: #fff; padding: 8px 0; margin-bottom: 0;}

.flashbox {padding: 5px 0; color: #FFFFFF;}
.flashbox.flash-error {background-color: #e74c3c;}
.flashbox.flash-info {background-color: #3498db;}
.flashbox.flash-warning {background-color: #FFAE00;}
.flashbox.flash-success {background-color: #40d47e;}

.c-auth h1 {margin: 60px 0 20px 0; font-size: 30px;}
.c-auth-menu {text-align: right;}
.c-auth-menu li {list-style-type: none;}

.pagination-box {text-align: center;}
.pagination-box li {list-style-type: none; display: inline-block;}
.pagination-box li>a {padding: 5px 10px; display: block;}
.pagination-box li>a:hover {background-color: #f0f0f0;}
.pagination-box .active>a, .pagination-box .active>a:hover {
	background-color: #3FA4CD; border-color: #3FA4CD; color: #fff;
}

.c-top-header {}
.c-header {}
.c-logo {margin-bottom: 10px;}
.c-bottom-header {font-weight: 300; font-size: 13px; color: #5f5f5f; padding: 6px 0; background-color: #f9f9f9;}

.c-logo {padding-top: 10px;}

@media (min-width: 992px) { .c-main-menu {margin: 22px 0 0 0;} }

.c-main-menu li {list-style-type: none; display: inline-block; margin-left: 30px; font-weight: 300; font-size: 14px;}
.c-main-menu a {color: #616161; font-size: 17px;}

.c-content-wrapper {min-height: 300px; padding-bottom: 50px;}

.with-padding {padding-top: 20px; padding-bottom: 40px;}

.c-title {color: #00B6DE;}

.c-articles-list {margin-top: 40px;}
.c-articles-list h2 {margin-top: 0;}

.c-single-article .c-user {margin-top: 10px; font-style: italic;}

.has-error textarea {border: 1px solid #a94442;}

.pics-gallery {margin: 40px 0;}
.pics-gallery .img-wrapper {margin: 0 5px 20px 5px; display: inline-block;}
.pics-gallery .img-wrapper img {width: 128px; border: 4px solid #f0f0f0; margin-bottom: 5px;}
.pics-gallery .img-wrapper:hover img {border: 4px solid #00b2ff;}
.pics-gallery .img-wrapper a {display:inline-block; padding: 1px 3px;}
.pics-gallery .img-wrapper a:hover {background-color: #00b2ff; color: #fff;}

.article-list article {border-top: 2px solid #00B4DC; padding: 20px 0; margin-bottom: 30px;}
article h1 {color: #00b2ff;}
article h1, article h2, article h3  {margin-top: 0; font-weight: 300;}
article .article-title h1, article .article-title h2 {display: inline-block;}
article .article-img {display: block; text-align: center;}
article .article-thumbnail {text-align: center; margin-top: 20px;}
article .article-thumbnail img {max-width: 500px;}
article .article-info {}
article .article-preview {font-size: 16px; margin-top: 20px;}
article .article-body {font-size: 16px;}
article .article-actions {margin-top: 10px;}

.user-view h1 {margin-top: 0;}
.user-view .box-content {padding-left: 20px; padding-bottom: 20px; font-size: 16px;}
.user-view .bbox .box:first-child h2 {margin-top: 0;}

.user-edit .box {border-top: 2px solid #00B4DC; margin-top: 30px;}
.user-edit h2 {margin-top: 5px;}

.account-settings .avatar-select table td {padding: 10px 10px 10px 0; vertical-align: middle;}
.account-settings .avatar-select img {width: 48px;}
.account-settings .box {border-top: 2px solid #00B4DC; margin-top: 30px;}

.home .box-1 {background: url('/static/bg1.jpg') no-repeat top center; background-size: cover;}
.home .box-1-1 {height: 400px; background-color: rgba(0,0,0, 0.4); text-align: center; padding-top: 50px;}
.home .box-1-1 p {font-size: 36px; color: #fff; font-weight: 200;}
.home .box-1-1 a {display: inline-block; padding: 6px 15px; border: 1px solid #fff; color: #fff; font-size: 17px;
font-weight: 300;}
.home .box-1-1 a:hover {color: #000; background-color: #fff;}

.home .box-2 {padding: 40px 0 60px 0;}
.home .box-2 .box-2-title {margin-bottom: 24px;}
.home .box-2 .box-2-title a {font-size: 34px; font-weight: 300;}
.home .box-2 img {width: 196px;}

.home .box-3 {min-height: 450px; padding: 40px 0; background: url('/static/faces.jpg') no-repeat top center;}
.home .box-3-title {margin-top: 30px; font-size: 34px; font-weight: 200; color: #fff;}
.home .box-3-img img {margin: 20px 0; width: 64px;}
.home .box-3-content {margin-top: 20px; margin-bottom: 30px; color: #fff; font-size: 19px; font-weight: 200;}

.home .box-4 {padding: 40px 0;}
.home .box-4-title {font-size: 32px; font-weight: 200;}

.forum-list .forum {margin-bottom: 20px;}
.forum-list .forum-title {font-size: 25px;}
.forum-list .forum-title a {font-weight: 300;}

.forum-view .forum-actions {margin-bottom: 20px;}
.forum-view .topic {margin-bottom: 20px; border: 1px solid #e0e0e0; padding: 10px 15px 15px 15px; border-top: 3px solid #e0e0e0;}
.forum-view .topic:hover {border-top: 3px solid #00B4DC;}

.forum-view .topic-icon {display: inline-block; vertical-align: top; font-size: 32px;}
.forum-view .topic-body {display: inline-block;}


.forum-view .topic-title {font-size: 25px;}
.forum-view .topic-title a {font-weight: 300;}
.forum-view .topic-info, .forum-view .last-post-info {color: #808080;}


.topic-view img.user-avatar {width: 64px; margin-bottom: 10px; margin-top: 10px;}
@media (min-width: 992px) {.topic-view img.user-avatar {width: 150px; margin-top: 0;}}
.topic-view .post-item, .topic-view .topic-body {margin-bottom: 30px; padding-bottom: 15px; border-bottom: 1px solid #e0e0e0;}
.topic-view h2 {font-size: 20px; font-weight: 300;}
.post-header {margin-bottom: 10px; color: #808080;}
@media (min-width: 992px) {.topic-view .post-content {font-size: 15px;}}
.topic-view .topic-actions, .topic-view .post-actions {margin-top: 10px;}
.topic-view .topic-actions .btn-sm, .topic-view .post-actions .btn-sm {padding: 5px 10px;}

.btn.btn-action {padding: 10px 22px; background-color: #00B6DE; border: #00B6DE; color: #fff;}
.btn.btn-action:hover {background-color: #00c6f0; border: #00c6f0; color: #fff;}

