{% extends "layout.html" %}
{% block content %}
	<div class="container with-padding article-view">
		<div class="row">
			<div class="col-xs-12">

				<article>
					<div class="row">
						<div class="col-md-8 article-title">
							<h1>{{ post.title }}</h1>
							{% if not post.published_at %}
								<span class="label label-danger" style="vertical-align: top;">Draft</span>
							{% endif %}
							<div class="article-info">
								<span><a href="{{ url_for('user_view', slug=post.user.slug) }}">{{ post.user.fullname() }}</a></span>,
								<span>{{ post.published_at }}</span>
							</div>
						</div>
						<div class="col-md-4">
							<div class="article-actions md-right">
								{% if post.user_id == current_user.id and current_user.has_role('editor') %}
									<div class="post-actions">
										<a href="{{ url_for('blog_edit_post', slug=post.slug) }}" class="btn btn-default btn-sm" >
											Edit
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
					{% if post.thumbnail %}
						<div class="article-thumbnail">
							<img src="{{ post.thumbnail }}" alt=""/>
						</div>
					{% endif %}
					<div class="article-preview">
						{{ post.preview_html | safe }}
					</div>
					<div class="article-body">
						{% if post.body_html %}
							{{ post.body_html | safe }}
						{% endif %}
					</div>
				</article>

				<div class="comments">









				</div>

			</div>
		</div>
	</div>
{% endblock %}