{% extends "layout.html" %}
{% block content %}
	<div class="container with-padding article-list">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-md-8">
						{% if author is defined %}
							<h1>Articles by {{ author.fullname() }}</h1>
						{% elif my_drafts is defined %}
							<h1>My Drafts</h1>
						{% else %}
							<h1>Blog</h1>
						{% endif %}
					</div>
					<div class="col-md-4">
						<div class="article-actions md-right">
							{% if current_user.has_role('editor') %}
								<a href="{{ url_for('blog_by_author', user_slug=current_user.slug) }}">My Articles</a>
								&nbsp;&nbsp;
								<a href="{{ url_for('blog_my_drafts') }}">Drafts ({{ total_drafts }})</a>
								&nbsp;&nbsp;
								<a href="{{ url_for('blog_new_post') }}" class="btn btn-default btn-sm">New Article</a>
							{% endif %}
						</div>
					</div>
				</div>
				<br />
				{% for post in posts.items %}
					<article>
						<div class="row">
							<div class="col-md-10 article-title">
								<a href="/{{ post.slug }}">
									<h2>{{ post.title }}</h2>
								</a>
							</div>
							<div class="col-md-2 md-right">

							</div>
						</div>
						<div class="article-info">
							<i class="fa fa-user"></i>
							<a href="{{ url_for('user_view', slug=post.user.slug) }}">{{ post.user.fullname() }}</a>
							{% if post.published_at %}
								&nbsp;
								<i class="fa fa-clock-o"></i>
								<time datetime="{{ post.published_at.strftime("%Y-%m-%dT%H:%M:%S Z") }}"></time>
							{% else %}
								&nbsp;
								<span class="label label-danger" style="vertical-align: top;">Draft</span>
							{% endif %}
						</div>
						{% if post.thumbnail %}
							<div class="article-thumbnail">
								<img src="{{ post.thumbnail }}" alt=""/>
							</div>
						{% endif %}
						<div class="article-preview">
							{{ post.preview_html|safe }}
						</div>
						<div class="article-actions">
							<a href="/{{ post.slug }}">more ...</a>
						</div>
					</article>
				{% endfor %}

				{% from "_pagination.html" import render_pagination %}
				{{ render_pagination(posts, 'blog_list') }}


			</div>
		</div>
	</div>
{% endblock %}