{% extends "layout.html" %}
{% block content %}
	<div class="container with-padding community-list">
		<div class="row">
			<div class="col-xs-12">
				<h1>Community List</h1>
				<span><a href="{{ url_for('community_map') }}">Map view</a></span>
				<div class="users-list">
					{% for user in users %}
						<div class="user-item">
							<a href="{{ url_for('user_view', slug=user.slug) }}">
								<div class="user-item-thumb">
									<img src="{{ user.get_avatar(200) }}" alt="{{ user.fullname() }} salesforce developer"/>
								</div>
								<div class="user-item-name">
									{{ user.fullname() }}
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}