{% extends "layout.html" %}
{% block content %}
	<div class="home">
		<div class="box-1">
			<div class="box-1-1">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<p>Welcome to</p>
							<p>Salesforce Developers Network</p>
							<p>New Generation Community</p>
							<p>
								{% if current_user.is_authenticated() %}
									<br/>
									<a href="{{ url_for('user_view', slug=current_user.slug) }}">{{ current_user.fullname() }}</a>
								{% else %}
									<a href="{{ config['SECURITY_LOGIN_URL'] }}">Login</a>
									&nbsp;&nbsp;
									<a href="{{ config['SECURITY_REGISTER_URL'] }}">Sign up</a>
								{% endif %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="box-2">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="box-2-icon">
							<a href="{{ url_for('blog_list') }}"><img src="/static/books_i.png" alt=""/></a>
						</div>
						<div class="box-2-title">
							<a href="{{ url_for('blog_list') }}">Blog</a>
						</div>
						<div class="box-2-content">
							Facts, figures, strategy, tactics, tricky puzzles, brilliant solutions — and all tips coming with a road map to implement them. Our blog is a friendly and valuable educational experience for virtually anyone dealing with Salesforce.
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div>
							<a href="/forum"><img src="/static/forum_i.png" alt=""/></a>
						</div>
						<div class="box-2-title">
							<a href="/forum">Forum</a>
						</div>
						<div class="box-2-content">
							Get more involved and join our Salesforce forum: dynamic, factual, well-structured and carefully designed. Ask a question, share a concern, introduce a concept, come up with an innovation — or just chat with other developers and users.
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div>
							<a href="/commumity"><img src="/static/group_i.png" alt=""/></a>
						</div>
						<div class="box-2-title">
							<a href="/commumity">Community</a>
						</div>
						<div class="box-2-content">
							You might want to check-in at our community and to complete your profile, listing your personal information and describing your skills or requests. Be in touch with developers, customers and friends via our instant messenger.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="box-3">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<div class="box-3-title">
							for Developers
						</div>
						<div class="box-3-img">
							<img src="/static/tools.png" alt=""/>
						</div>
						<div class="box-3-content">
							An impressive library on CRM plus live advice from colleagues with terrific experience — our goal is to be solving any issues that might be of concern for a Salesforce developer, from perfecting the code to finding a great job.
						</div>
					</div>
					<div class="col-md-6 text-center">
						<div class="box-3-title">
							for Customers
						</div>
						<div class="box-3-img">
							<img src="/static/customer.png" alt=""/>
						</div>
						<div class="box-3-content">
							Create a project or post a job, share your experience, tell us about your needs. Top Salesforce developers are here to frame it for you. Ask for help or order developer services from our competent bunch. Promote your Business.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="box-4">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="from-blog">
							<div class="box-4-title">Latest from Blog</div>
							{% for post in last_posts %}
								<a href="/{{ post.slug }}" class="from-blog-item">
									<img src="{{ post.thumbnail }}" alt=""/><br/>
									{{ post.title }}
								</a>
							{% endfor %}
							<a class="see-all" href="{{ url_for('blog_list') }}"><span>See All</span></a>
						</div>
						<!--
						<div class="from-forum md-right">
							<div class="box-4-title">Latest from Forum</div>
						</div>
						<div class="from-blog">
							<div class="box-4-title">Recent Activity</div>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>

		<div style="height: 100px;">

		</div>
	</div>
{% endblock %}