{% extends "layout.html" %}
{% block content %}
	<div class="container with-padding user-view">
		<div class="row">
			<div class="col-xs-12">

				<div class="row">
					<div class="col-md-8">
						<h1>{{ user.fullname() }}</h1>
					</div>
					<div class="col-md-4">
						{% if current_user.is_authenticated() and user.id == current_user.id %}
						<div class="article-actions md-right">
							<a href="{{ url_for('user_edit', slug=user.slug) }}" class="btn btn-default btn-sm">Edit</a>
							<a href="{{ url_for('account_settings') }}" class="btn btn-default btn-sm">Account Settings</a>
						</div>
						{% endif %}
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<img src="{{ user.get_avatar(200) }}" alt="{{ user.fullname() }} salesforce developer"/>
					</div>
					<div class="col-md-9 bbox">
						{% if user.type in ('developer', 'other') %}
							<div class="box">
								<h2>Personal Information</h2>
								First name:
								<div class="box-content">
									{{ user.first_name or '-' }}
								</div>
								Last name:
								<div class="box-content">
									{{ user.last_name or '-' }}
								</div>
								Birthdate:
								<div class="box-content">
									{{ user.birthdate or '-' }}
								</div>
							</div>
						{% endif %}

						{% if user.type == 'developer' %}
							<div class="box">
								<h2>Professional information</h2>
								<div>
									Work with Salesforce since:
									<div class="box-content">
										{{ user.sfdc_start or '-' }}
									</div>
								</div>
								<div>
									Salesforce skills:
									<div class="box-content">
										{{ user.sfdc_skills or '-' }}
									</div>
								</div>
								<div>
									Salesforce certificates:
									<div class="box-content">
										{{ user.sfdc_certificates or '-' }}
									</div>
								</div>
								<div>
									Other skills:
									<div class="box-content">
										{{ user.other_skills or '-' }}
									</div>
								</div>
							</div>
						{% endif %}

						{% if user.type == 'company' %}
							<div class="box">
								<h2>Company information</h2>
								Company name:
								<div class="box-content">
									{{ user.company_name or '-' }}
								</div>
								About company:
								<div class="box-content">
									{{ user.company_info or '-' }}
								</div>
							</div>
						{% endif %}


						{% if user.type in ('developer', 'company') %}
							<div class="box">
								<h2>Links</h2>
								<div class="box-content">
									{{ user.google_plus }}
									{{ user.linkedin }}
									{{ user.facebook }}
									{{ user.personal_site }}
								</div>
							</div>
						{% endif %}

						{% if user.type == 'other' %}
							<div class="box">
								<h2>About myself</h2>
								<div class="box-content">
									{{ user.about_myself or '-' }}
								</div>
							</div>
						{% endif %}

						<div class="box">
							<h2>Geolocation</h2>

							Address:
							<div class="box-content">
								{{ user.geo_address or '-' }}
							</div>

                            <script src="https://maps.googleapis.com/maps/api/js"></script>

                            <script>
                                function initialize() {
                                    var myLatlng = new google.maps.LatLng({{ user.geo_lat or 37.7749300 }}, {{ user.geo_lng or -122.4194200 }});
                                    var map_options = {
                                        center: myLatlng,
                                        zoom: 5,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                    };
                                    var map = new google.maps.Map(document.getElementById('map_canvas'), map_options);

                                    var marker = new google.maps.Marker({
                                        position: myLatlng,
                                        map: map,
                                        title: '{{ user.fullname() }}'
                                    });
                                }
                                google.maps.event.addDomListener(window, 'load', initialize);
                            </script>

                            <div id="map_canvas" style="width: 100%; height: 400px;"></div>

						</div>

					</div>
				</div>

			</div>


		</div>
	</div>
{% endblock %}