{% extends "layout.html" %}
{% block content %}
	<div class="container with-padding user-view">
		<div class="row">
			<div class="col-xs-12">

				<div class="row">
					<div class="col-md-8">
						<h1>{{ user.fullname() }}</h1>
					</div>
					<div class="col-md-4">
						{% if current_user.is_authenticated() and user.id == current_user.id %}
						<div class="article-actions md-right">
							<a href="{{ url_for('user_edit', slug=user.slug) }}" class="btn btn-default btn-sm">Edit</a>
							<a href="{{ url_for('account_settings') }}" class="btn btn-default btn-sm">Account Settings</a>
						</div>
						{% endif %}
					</div>
				</div>

				<img src="{{ user.get_avatar(200) }}" alt=""/><br/>






			</div>


		</div>
	</div>
{% endblock %}